[merge]
    command = "/home/johan/.local/share/JetBrains/Toolbox/apps/intellij-idea/bin/idea"
    args = ["merge", "{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}", "{{ `{{ .Source }}` }}", "{{ `{{ .Source }}` }}"]
